* {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid black;
  width: 100vw;
  text-align: center;
  background-color: brown;
}

main {
  width: 100vw;
  background-color: darkgoldenrod;
  height: 90vh;
}

aside {
  width: 230px;
  border: 1px solid black;
  background-color: limegreen;
  position: fixed;
  right: 0;
  bottom: 18.5px;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

button:active {
  background-color: ;
}

header h3 {
  margin-left: 25px;
}

section {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}